.Recipes-card{
    width: 80%;
    height: 1000px;
    margin: 0 auto 60px;

}

.btn-disable:disabled {
    opacity: 0.5;
    background-color: rgb(157, 108, 202);
    cursor: not-allowed;
    color: beige;
  }
  
  